body {
  background-color: rgb(183, 48, 48);
  padding: 20px;
}

.frm{
  width: 96% !important;
}

.tbl{
  margin-bottom: 10px;
}

.new-comp{
  border: 1px solid black;
  background-color: green;
  width: 500px;
  height: 400px;

}

.headings{
  color: red;
}

h2{
  color: rgb(255, 0, 200);
}

input{
  border: 2px solid rgb(255, 0, 200);
  outline: none; 
  border-radius: 5px;
}

select{
  border: 2px solid rgb(255, 0, 200);
  border-radius: 5px;
  padding: 5px;
}

button{
  border: 2px solid rgb(255, 0, 200);
  background-color: #dc8ad9;
  border-radius:5px ;
}
button:hover{
  border: 2px solid rgb(255, 0, 200);
  background-color: #f427ed;
  border-radius:5px ;
}


.container {
  max-width: 500px;
  margin: auto;
  border: 2px solid rgb(255, 0, 200);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 4px #e90ced33;

}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-group input,
.input-group select,
button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  border: 1px solid rgb(255, 0, 200);
}

table th,
table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

table th {
  background-color: #fb7bd0;
  border: 1px solid rgb(255, 0, 200);
}

.pre {
  background-color: #f9f9f9;
  padding: 10px;
  width: 100%;
  height: 300px;
  border: 1px solid #ddd;
  text-wrap: wrap;
}
